/* custom cssr */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

nav {
	border-bottom: 1px solid #e5e5e5;
   text-align: center;
}

nav ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}
nav ul li{
  display: table-cell;
  width: 20%;
  position: relative;
}
nav ul li:not(:first-child):after{
  position: absolute;
  content: ‘/’;
  top: 30%;
  left: 0;
}
nav ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #158b2b;
  font-weight: bold;
}
nav ul li.current a{
  color: #A77B1C;
}
nav ul li a:hover{
  color: #C55859;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
/*
* Blog main
*/
.blog-main h1{
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
.blog-main h2 {
  font-size: 2.0rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 1.5px black;
}
.blog-main h3{
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px black;
}
.blog-main h4{
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 1px black;
}
.blog-main h5{
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 1px black;
}
.blog-main h6{
  font-size: 1rem;
  margin-bottom: 1.25rem;
  border-bottom: solid 1px black;
}
/*
 * breadcrumbs-list
 */
.breadcrumbs{
    font-size: 1rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

/*
 * Blog side
 */
.blog-side h4{
  border-bottom: medium solid #000000;
}

/*
 * text-box
 */
 /* title on frame */
 .box1 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #008080;
    border-radius: 8px;
}
.box1 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #008080;
    font-weight: bold;
}
.box1 p {
    margin: 0; 
    padding: 10px;
}
 /* title out of frame */
 .box2 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.box2 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box2 p {
    margin: 0; 
    padding: 10px;
}
 /* title in frame */
 .box3 {
    position: relative;
    margin: 2em 0;
    padding: 25px 10px 7px;
    border: solid 2px #FFC107;
}
.box3 .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.box3 p {
    margin: 0; 
    padding: 10px;
}
 /* centerd titme in frame */
 .box4 {
    margin: 2em 0;
    background: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box4 .box-title {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box4 p {
    padding: 15px 20px;
    margin: 10px;
}
/*
 * Image Frame
 */
.img-frame {
    border: solid 1px #C0C0C0;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Image Settings
 */
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-responsive-center{
  margin: auto;

}

/*
* home css
*/
 /**
  * Original CSS
  */
.oe-header-area{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 88.28125%;
  max-width: 1130px;
  height: 100%; 
}

.navbar {
  margin-bottom: 0px;
}
.navbar-brand {
  background: url("./../img/corpo-image.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.top-image-area {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 445px;
}
.top-footer-area {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 445px;
}
.top01 {
  background: url("./../img/top01.jpg") no-repeat left center;
  background-size: cover
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top02{
  background: #696969;
}
.top02-left {
}
.top03{
  background: #ffffffff;
}
.top04{
  background: #008080;
}
.top05{
  background: #ffffffff;
}
.top06{
  background: url("./../img/meeting.jpg") no-repeat center center;
  background-size: cover
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top07{
  background: #000000;
}

.top-item-catch-black {
  color: #000000;
  font-size: 40px;
  text-shadow: 0px 0px 0px #888888;
}
.top-item-description {
}
.top-item-catch-white {
  color: #ffffff;
  font-size: 40px;
  text-shadow: 0px 0px 0px #888888;
}
.top-item-description-white {
  color: #ffffff;
  font-size: 16px;
}
.oe-button-teal {
    color:#ffffff;
    background: #008080;
    padding: 20px 20px;
    padding: 0 60px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    border-radius: 70px;
    margin: 40px 0 20px 0;
}
.oe-button-black {
    color:#ffffff;
    background: #000000;
    padding: 20px 20px;
    padding: 0 60px;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    border-radius: 70px;
    margin: 40px 0 20px 0;
}
a.expand-link{
  color:#ffffff;
  text-decoration:none;
}
a.expand-link:hover{
  animation: big 0.1s;
  animation-fill-mode: forwards;
}
@keyframes big 
{
  0% {transform: scale(1); }
  100% {transform: scale(1.1);}
}
a.expand-link:active
{
  animation: small 0.1s;
  animation-fill-mode: forwards;
}
@keyframes small 
{
  100% {transform: scale(0.9);}
}
p.icon-check-box-white{
  padding-left:30px;
  background: url("./../img/icon-checkbox.svg") no-repeat left center;
}
p.icon-file-white{
  padding-left:30px;
  background: url("./../img/icon-file.svg") no-repeat left center;
}
